/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #f5f5f5;
  background: #282c34;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.top-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: calc(100% - 4.5em);

}

.width33p {
  width: 45%;
  height: 100%;
}

.file-container {
  background-color: #21252b;
  border: 2px solid #323842;
}
.music-info-container {
  background-color: rgb(97, 113, 113);
}
.bot-status-container {
  background-color: rgb(123, 196, 196);
}
.file-holder {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100% - 100px);
  overflow-x: hidden;

}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.file-element {
  background-color: #282c34;
  margin-top: 10px;
  color: black;
  margin-inline: 10px;
  padding: 10px;
  border-radius: 0.3em;
  width: 90%;
}

.file-element:hover {
  background-color: rgb(181, 181, 181);
  cursor: pointer;
}

.top-bar-container {
  height: 48px;
  background-color: #323842;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: black;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.guild-container {
  color: black;
  margin-left: 0.8em;
  margin-right: 0.8em;
  overflow: scroll;
  height: 100%;
}

/* CSS */
.button-26 {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: 0.5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.button-26:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

.button-width-90 {
  align-self: center;
  margin-top: 1em;
  background-color: #282c34;
  color: white;
  width: 90%;
}

.button-width-90:hover {
  color: white;
}

.botLogo {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  animation: rotation 3s infinite linear;
  user-select: none;
}
.unselectable {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes rotation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.duration-container {
  position: relative;
  top: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.duration-slider {
  width: 90%;
}
.custom-title-bar {
  width: 100%;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end ;
  border-bottom: 2px solid #2c313c;
  -webkit-app-region: drag;
}

.custom-title-bar div {
  padding-inline: 5px;
  background-color: #21252b;
}
.top-bar-control {
  width: 100%;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 48px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #2c313c;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .15s;
  transition: .15s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .15s;
  transition: .15s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.top-bar-param {
  width: 215px;
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  margin-left: 10px;
}