/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

html {
  height: 100%;
  overflow: hidden;
}
body {
  color: #f5f5f5;
  background: #282c34;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
.top-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.main-container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: calc(100% - 4.5em);

}

.width33p {
  width: 45%;
  height: 100%;
}

.file-container {
  background-color: #21252b;
  height: 100%;
  overflow: hidden;
  border: 2px solid #323842;

}
.music-info-container {
  background-color: rgb(97, 113, 113);
}
.bot-status-container {
  background-color: rgb(123, 196, 196);
}
.file-holder {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 95%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.file-element {
  background-color: #282c34;
  margin-top: 10px;
  color: black;
  margin-inline: 10px;
  padding: 10px;
  border-radius: 0.3em;
  width: 90%;
}

.file-element:hover {
  background-color: rgb(181, 181, 181);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.top-bar-container {
  height: 48px;
  background-color: #323842;
  display: flex;
  flex-direction: row;
  padding: 5px;
  color: black;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 15px;
  padding-top: 15px;
}

.guild-container {
  color: black;
  margin-left: 0.8em;
  margin-right: 0.8em;
  overflow: scroll;
  height: 100%;
}

/* CSS */
.button-26 {
  appearance: button;
  background-color: #1652f0;
  border: 1px solid #1652f0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: 0.5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

.button-26:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

.button-width-90 {
  align-self: center;
  margin-top: 1em;
  background-color: #282c34;
  color: white;
  width: 90%;
}

.button-width-90:hover {
  color: white;
}

.botLogo {
  display: inline-block;
  width: 40px;
  height: 40px;
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
.duration-container {
  position: relative;
  top: 10px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.duration-slider {
  width: 90%;
}

.top-bar-control {
  width: 100%;
  background-color: #282c34;
  margin: 0;
  padding: 0;
  height: 48px;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #2c313c;
}

